body {
    background-color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:aliceblue;
}

h1{
    letter-spacing: 0.5rem;
    font-size: 4 rem;
    padding: top 3 rem;
    
}