body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    display:flex;
}

.box1 {
    background-image: url(Images/tiny.jpg); 
    
}

.box2 {
    background-image: url(Images/305887956_603339164530645_2000575970079412098_n.jpg);
}

.box3 {
    background-image: url(Images/305830421_179336744585493_2990430878551920944_n.jpg);
}

.boxes {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    flex-grow: 1;
}
/* transition: flex-grow ease-in 1s,
               color ease-in-out 300ms; */

.boxes:hover {
   cursor: pointer;
   color: sandybrown;
   transition: all ease 1s;
   flex-grow: 3; 
   font-size: 10rem;
}

.boxes:hover h1 {
    
    position: absolute;
    transform-origin: 0 0;
    transform:rotate(-90deg);
    font-size: 5rem;
    text-align: left;
    bottom: 0;

}

.boxes h1 {
    padding: 3rem;
    justify-content: flex-end;
    top:bottom;
    
}
.boxes p {
    position: absolute;
    width: 30vw;
    top: 120vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    transition: all ease-in-out 300ms;
}