:root{

    // colors

    --bgdark: #004746;
    --bgmiddark:hsl(179, 100%, 22%); 

    --textcolorDark:#BF9534;
    --textcolor: #DBAB3B;

    --gradiëntGold: #BC9051,hsl(37, 60%, 63%),#FFFFFF;
    --gradiëntBrown: #4D4135,#493C33,#FFFFFF;

    // color theme Gold: 
    --yellow-beige: #F2B950;
    --beige:hsl(33, 64%, 59%);
    --orangebrown:#D97F30;
    --lightbrown:#BF571B;
    --lightgray: #F2F2F2

    // color theme brown: 
    --orangebrown2: #D98452;
    --salmonpink: #D9A384;
    --gray:#735E51;
    --darkbrown: #402721;

    
  }

#lien1vhn {



  .box {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .board {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;

    > div {
      height: 100%;
      width: 12.5%;
    }
  }
 
  .square-white1, .square-white2, .square-white3, .square-white4, .square-white5, .square-white6, .square-white7, .square-white8, .square-white9, .square-white10, .square-white11, .square-white12, .square-white13, .square-white14, .square-white15, .square-white16, .square-white17, .square-white18, .square-white19, .square-white20, .square-white21, .square-white22, .square-white23, .square-white24, .square-white25, .square-white26, .square-white27, .square-white28, .square-white29, .square-white30, .square-white31, .square-white32 {
    background-color: white;
    border: solid 1px transparent;
    width: 100%;
    height: 12.5%;
    transition: background-color 0.5s ease-in-out;
  
  }

  .square-black1, .square-black2, .square-black3, .square-black4, .square-black5, .square-black6, .square-black7, .square-black8, .square-black9, .square-black10, .square-black11, .square-black12, .square-black13, .square-black14, .square-black15, .square-black16, .square-black17, .square-black18, .square-black19, .square-black20, .square-black21, .square-black22, .square-black23, .square-black24, .square-black25, .square-black26, .square-black27, .square-black28, .square-black29, .square-black30, .square-black31, .square-black32  
  {
    background-color: black;
    border: solid 1px transparent;
    width: 100%;
    height: 12.5%;
    transition: background-color 0.5s ease-in-out;
  }

  #intro, #king, #queen,#rook, #bishop, #knight, #pawn {
   
    width: 100%;
    height: 100vh;
   
  }

  #intro {
    position: relative;
    max-width: 40vw;
    color: var(--gray);
    text-shadow: #BF9534 2px 2px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2rem;
    margin-left: 50%;
    margin-right: 2rem;
    text-align: center; 
    >h1{
      font-size: 3rem;
      margin: 2rem;
      color:#004746;
    }
    >p{
      margin:3rem;
    }    
  }



.card-body-king, .card-body-queen, .card-body-rook, .card-body-bishop, .card-body-knight, .card-body-pawn{
  display:block;
  margin-left: 50vw;
  width: 30vw;
  text-align: center;
  color: #0e605f;
  animation: easeIn 1s;
  
  
   
  >h2 {
        text-shadow: #BF9534 4px 4px;
        font-size: 4rem;
        } 

  >p {
      color: #D9AD66;
      text-shadow: #735E51 2px 2px;
      background: linear-gradient(hsla(35, 44%, 53%,0.5),hsla(179, 100%, 14%,0.5),hsla(35, 44%, 53%,0.5));
      padding: 1rem;   
      font-weight: 400;   
      }
}

@keyframes easeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

#kinggold, #queengold, #rookgold, #bishopgold, #knightgold, #pawngold #kingbrown, #queenbrown, #rookbrown, #bishopbrown, #knightbrown, #pawnbrown, #queencenter {
  opacity:0

}

}
/* overview color tegels in javascript
   //Coloring postion of the king gold.
      .to(
        "#lien1vhn .square-black31",
        {
          border: "2px solid #BF571B",
          backgroundColor: "#D9AD66",
        },
        "king"
      )
      //Adding the possible steps for the king
      .to(
        "#lien1vhn .square-black27",
        {
          backgroundColor: "#D9AD66",
        },
        "king"
      )
      .to(
        "#lien1vhn .square-black26",
        {
          backgroundColor: "#D9AD66",
        },
        "king"
      )
      .to(
        "#lien1vhn .square-white31",
        {
          backgroundColor: "hsla(179, 100%, 22%, 0.5)",
        },
        "king"
      )
      .to(
        "#lien1vhn .square-white30",
        {
          backgroundColor: "hsla(179, 100%, 22%, 0.5)",
        },
        "king"
      )
      .to(
        "#lien1vhn .square-white27",
        {
          backgroundColor: "hsla(179, 100%, 22%, 0.5)",
        },
        "king"
      )
*/
